---
// ___ $ Intefaces ___
import type IReleaseText from '@interfaces/components/Release/IReleaseText'

// ___ $ Props ___
export interface Props extends IReleaseText {}
const { text, isGradient } = Astro.props
---

{isGradient && <h1 class='release_title gradient_text'>{text}</h1>}
{!isGradient && <h1 class='release_title'>{text}</h1>}

<style>
  .release_title {
    color: var(--dark);
  }
</style>
