---
// ___ $ Common Components ___
import Icon from '@common/Icon'

// ___ $ Components ___
import ContributorAvatar from './ContributorAvatar.astro'

// ___ $ Interfaces ___
import type IContributor from '@interfaces/services/IContributor'

// ___ $ Props ___
export interface Props extends IContributor {}
const { login, avatar_url, html_url } = Astro.props
---

{/** Contributor */}
<li class='contributor' title={login}>
  <a href={html_url} class='contributor_link' target='_blank' draggable='false'>
    <ContributorAvatar login={login} avatar_url={avatar_url} />
    <Icon name='github' className='gh_icon' title='GitHub' />
  </a>
</li>

<style>
  .contributor {
    height: 5rem;
    transition: filter 1.2s ease;
    border-radius: 50%;
    box-shadow: rgba(33, 53, 90, 0.35) 0 3px 10px;
  }
  .contributor:hover {
    filter: brightness(80%);
  }
  .contributor_link {
    height: 5rem;
    display: block;
    position: relative;
    border-radius: inherit;
  }
  .gh_icon {
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    inset: 0;
    left: 36.5%;
    top: 74.8%;
    color: var(--light);
    font-size: 1em;
    z-index: 2;
    border-radius: 50%;
  }
  /* .gh_icon::before {
    content: '';
    height: 1.08rem;
    width: 1.05rem;
    position: absolute;
    inset: 0;
    top: 2%;
    left: 39.5%;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid rgba(228, 226, 226, 0.5);
  } */
</style>
