<li class='element licensed'>Code licensed MIT.</li>
<li class='element copyright'>
  Copyright &copy; 2023 Currcash. All rights reserved.
</li>

<style>
  .element {
    width: 100%;
    list-style: none;
    outline: none;
    font-family: var(--light-font);
    color: grey;
    text-align: start;
    font-size: 0.7em;
  }
  .licensed {
    margin: 1em 0 1em 0;
  }
  .copyright {
    width: 75%;
  }
</style>
